<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogIn</servlet-name>
        <servlet-class>Servlets.AdminLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLogIn</servlet-name>
        <servlet-class>Servlets.ManagerLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogIn</servlet-name>
        <servlet-class>Servlets.UserLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutA</servlet-name>
        <servlet-class>Servlets.LogOutA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutR</servlet-name>
        <servlet-class>Servlets.LogOutR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutM</servlet-name>
        <servlet-class>Servlets.LogOutM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutU</servlet-name>
        <servlet-class>Servlets.LogOutU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelList</servlet-name>
        <servlet-class>Servlets.HotelList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomList</servlet-name>
        <servlet-class>Servlets.RoomList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerList</servlet-name>
        <servlet-class>Servlets.ManagerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHotel</servlet-name>
        <servlet-class>Servlets.AddHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveHotel</servlet-name>
        <servlet-class>Servlets.RemoveHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManager</servlet-name>
        <servlet-class>Servlets.AddManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveManager</servlet-name>
        <servlet-class>Servlets.RemoveManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>Servlets.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomListM</servlet-name>
        <servlet-class>Servlets.RoomListM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomM</servlet-name>
        <servlet-class>Servlets.AddRoomM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomA</servlet-name>
        <servlet-class>Servlets.AddRoomA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRoomA</servlet-name>
        <servlet-class>Servlets.RemoveRoomA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRoomM</servlet-name>
        <servlet-class>Servlets.RemoveRoomM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Servlets.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>Servlets.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelListTown</servlet-name>
        <servlet-class>Servlets.HotelListTown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelListState</servlet-name>
        <servlet-class>Servlets.HotelListState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllHotels</servlet-name>
        <servlet-class>Servlets.AllHotels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomListU</servlet-name>
        <servlet-class>Servlets.RoomListU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservation</servlet-name>
        <servlet-class>Servlets.Reservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationList</servlet-name>
        <servlet-class>Servlets.ReservationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveReservation</servlet-name>
        <servlet-class>Servlets.RemoveReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogIn</servlet-name>
        <url-pattern>/AdminLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLogIn</servlet-name>
        <url-pattern>/ManagerLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogIn</servlet-name>
        <url-pattern>/UserLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutA</servlet-name>
        <url-pattern>/LogOutA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutR</servlet-name>
        <url-pattern>/LogOutR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutM</servlet-name>
        <url-pattern>/LogOutM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutU</servlet-name>
        <url-pattern>/LogOutU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelList</servlet-name>
        <url-pattern>/HotelList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomList</servlet-name>
        <url-pattern>/RoomList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerList</servlet-name>
        <url-pattern>/ManagerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHotel</servlet-name>
        <url-pattern>/AddHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveHotel</servlet-name>
        <url-pattern>/RemoveHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManager</servlet-name>
        <url-pattern>/AddManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveManager</servlet-name>
        <url-pattern>/RemoveManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomListM</servlet-name>
        <url-pattern>/RoomListM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomM</servlet-name>
        <url-pattern>/AddRoomM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomA</servlet-name>
        <url-pattern>/AddRoomA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRoomA</servlet-name>
        <url-pattern>/RemoveRoomA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRoomM</servlet-name>
        <url-pattern>/RemoveRoomM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/RemoveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelListTown</servlet-name>
        <url-pattern>/HotelListTown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelListState</servlet-name>
        <url-pattern>/HotelListState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllHotels</servlet-name>
        <url-pattern>/AllHotels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomListU</servlet-name>
        <url-pattern>/RoomListU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservation</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationList</servlet-name>
        <url-pattern>/ReservationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveReservation</servlet-name>
        <url-pattern>/RemoveReservation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
